<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-md">
  <div class="container">
    <a class="navbar-brand" href="#">Events Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/events']" routerLinkActive="active">All Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/events/create']" routerLinkActive="active">Create Event</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <div class="d-flex">
            <a *ngIf="!auth.isAuthenticated()" [routerLink]="['/user/login']" href="#">Login</a>
            <a *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']">Welcome {{auth.currentUser.firstName}}</a>
          </div>
       </ul>
    </div>
  </div>
</nav>
