/* You can add global styles to this file, and also import other style files */

/* Boostrap */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

/* Toastr */
/* @import "~toastr/build/toastr.min.css"; */

body{
  background-color: #2A3D4F;
}

/*Events */
.card{
  background-color: #4D5E6B !important;
}
.card:hover{
  color: #ffffff !important;
  cursor: pointer;
}
